
@{
    ViewBag.Title = "RDHome";
}

<div class="container">
    <h2 >Research and Development</h2>
    <div class="row">
        <div class="col-sm-3">

            <div class="list-group">
                <a href="#" class="list-group-item">Projects</a>
                <a href="#" class="list-group-item">Sponsers</a>
                <a href="#" class="list-group-item">Vision</a>

                
                    
                </div>
            </div>



            <div class="col-md-9">

                <h3>Introduction</h3>

                <p>
                    Harmony Technologies is an education centered company working in various domains of professional and technical education. We are providing quality and innovative solutions & services to the educational institutes, industries, government and non-government organizations.

                    Our core solutions include educational labs, modern classroom & teachers resources. We are changing the classrooms through our innovative & low cost teaching resources for schools.

                    We provide end-2-end consultancy for institute development that includes but not limited to feasibility, registration, affiliation and accreditation and capacity building.

                    Harmony Technologies offer vide range of BPO services, such as HR outsourcing, mobilization & placement, monitoring & evaluation, complaint management and media & communication. We are working with number of institutes, industries and donor agencies, enabling people to learn “skills” for better employment.
                </p>

            </div>


        </div>





    </div>

           <div class="container">

               <div class="row">
                   <div class="col-lg-12">
                       <h2> Research Based Projects</h2>
                       <p>
                           Harmony Technologies is an education centered company working in various domains of professional and technical education. We are providing quality and innovative solutions & services to the educational institutes, industries, government and non-government organizations.

                           Our core solutions include educational labs, modern classroom & teachers resources. We are changing the classrooms through our innovative & low cost teaching resources for schools.

                           We provide end-2-end consultancy for institute development that includes but not limited to feasibility, registration, affiliation and accreditation and capacity building.

                           Harmony Technologies offer vide range of BPO services, such as HR outsourcing, mobilization & placement, monitoring & evaluation, complaint management and media & communication. We are working with number of institutes, industries and donor agencies, enabling people to learn “skills” for better employment.
                       </p>
                   </div>

                </div>
                    </div>

               <div class="container">
                   <div class="row">

                       <div class="col-sm-3">
                                
                       
                       
                       
                       
                           <div class="panel panel-default">
                               <div class="panel-heading">Panel heading</div>
                               <div class="panel-body">
                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                               </div>
                           </div>
                       
                       </div>

                       <div class="col-sm-3">





                           <div class="panel panel-default">
                               <div class="panel-heading">Panel heading</div>
                               <div class="panel-body">
                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                               </div>
                           </div>

                       </div>

                       <div class="col-sm-3">





                           <div class="panel panel-default">
                               <div class="panel-heading">Panel heading</div>
                               <div class="panel-body">
                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                               </div>
                           </div>

                       </div>
                       <div class="col-sm-3">





                           <div class="panel panel-default">
                               <div class="panel-heading">Panel heading</div>
                               <div class="panel-body">
                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                               </div>
                           </div>

                       </div>

               </div>

           </div>


