
@{
    ViewBag.Title = "EduSolTraining";
}


<div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
    <div class="container">
        <div class="row">
            <div class="blog-lst col-md-12 pl0">
                <section id="id-100" class="post single">
                    <div class="post-header single">
                        <div class="">
                            <h2 class="wow fadeInLeft animated">Tranings</h2>
                            <div class="title-line wow fadeInRight animated"></div>
                        </div>
                        <div class="row wow fadeInRight animated">
                            <!-- <div class="col-sm-6">
                    <p class="author-category">
                        By <a href="#">John Snow</a>
                        in <a href="blog.html">Webdesign</a>
                    </p>
                </div> -->
                            <!-- <div class="col-sm-6 right" >
                    <p class="date-comments">
                        <a href="single.html"><i class="fa fa-calendar-o"></i> June 20, 2013</a>
                        <a href="single.html"><i class="fa fa-comment-o"></i> 8 Comments</a>
                    </p>
                </div> -->
                        </div>
                        
                        <div class="image wow fadeInRight animated">
                            <img src="~/assets/img/blog2.jpg" class="img-responsive" alt="Example blog post alt">
                        </div>
                    </div>
                    <div id="post-content" class="post-body single wow fadeInLeft animated">
                        <p>

                            Harmony Technologies can work with you to measurably improve your company's capabilities and overall performance. We offer a wide range of training options to suit your needs.

                            We provide our courses through face to face training, train the trainer, e-Learning, webinar, video and workbooks.  We'll work with you to ensure that the training is successful. Intellective Solutions offers several options for launching a program:

                            We recommend starting with our Assessment Instruments to best determine and understand your organization's current reality. From there, we will assist you in selecting the most appropriate training for your sales and operational teams.
                        </p>

                        <h3> ASSESSMENT INSTRUMENTS : THE BEST PLACE TO START CUSTOM CONTENT : FOR THE PERFECT FIT</h3>
                        <p>
                            You will find descriptions of our most popular in-class training programs, which are divided into two categories - Sales and Operational. We tailor these programs to suit your needs and can also create completely customized in-class and web-based training programs to address all of your requirements
                        </p>
                        <p>
                            All of Harmony Technologies courses are customized to best meet the needs of the printing industry. We can further customize any of our offerings to fit your business' unique culture and address your current business challenges. We develop our offerings to ensure its relevance to your target audience
                        </p>

                        <h3>DELIVERY OPTIONS : FOR GREATER FLEXIBILITY</h3>
                        <p>
                            Intellective Solutions is prepared to work with you from the ground up to develop a program that is company-specific. Or if you would like courses tailored in certain ways to better address your individual needs, we are prepared to modify any of our offerings to ensure its relevance to your target audience
                            <ul>
                                <li>Full-service program delivered by our experienced instructors.</li>
                                <li>Certifying your in-house instructors.</li>
                                <li>Licensing flexibility  with options to purchase individual participant workbooks or a master license for reproducing our materials internally</li>
                            </ul>
                            @*<p>
                        <img src="assets/img/blog.jpg" class="img-responsive" alt="Example blog post alt">
                    </p>*@
                            @*<p>
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                        condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros
                        eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
                    </p>*@
                    </div>
                    <!-- <div class="post-footer single wow fadeInBottum animated">
            <ul class="pager">
                <li class="previous"><a href="#"><i class=""></i>← Older </a></li>
                <li class="next disabled"><a href="#">Newer →<i class=""></i> </a></li>
            </ul>
        </div>     -->
                </section>
                <!-- <section class="about-autor">

                </section> -->
                <!-- <section id="comments" class="comments wow fadeInRight animated">
                    <h4 class="text-uppercase wow fadeInLeft animated">3 comments</h4>


                    <div class="row comment">
                        <div class="col-sm-3 col-md-2 text-center-xs">
                            <p>
                                <img src="assets/img/client-face1.png" class="img-responsive img-circle" alt="">
                            </p>
                        </div>
                        <div class="col-sm-9 col-md-10">
                            <h5 class="text-uppercase">Julie Alma</h5>
                            <p class="posted"><i class="fa fa-clock-o"></i> September 23, 2011 at 12:00 am</p>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                            <p class="reply"><a href="#"><i class="fa fa-reply"></i> Reply</a>
                            </p>
                        </div>
                    </div> -->
                <!-- /.comment -->
                <!--

                                    </div>                  <div class="row comment last">

                                                <div class="col-sm-3 col-md-2 text-center-xs">
                                                    <p>
                                                        <img src="assets/img/client-face2.png" class="img-responsive img-circle" alt="">
                                                    </p>
                                                </div>

                                                <div class="col-sm-9 col-md-10">
                                                    <h5 class="text-uppercase">Louise Armero</h5>
                                                    <p class="posted"><i class="fa fa-clock-o"></i> September 23, 2012 at 12:00 am</p>
                                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                                        Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                                    <p class="reply"><a href="#"><i class="fa fa-reply"></i> Reply</a>
                                                    </p>
                                                </div>

                                            </div> -->
                <!-- /.comment -->
                <!-- </section>

                <section id="comment-form" class="add-comments">
                    <h4 class="text-uppercase wow fadeInLeft animated">Leave comment</h4>
                    <form>
                        <div class="row wow fadeInLeft animated">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name">Name <span class="required">*</span>
                                    </label>
                                    <input class="form-control" id="name" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row wow fadeInLeft animated">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="email">Email <span class="required">*</span>
                                    </label>
                                    <input class="form-control" id="email" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="row wow fadeInLeft animated">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="comment">Comment <span class="required">*</span>
                                    </label>
                                    <textarea class="form-control" id="comment" rows="4"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row wow fadeInLeft animated">
                            <div class="col-sm-12 text-right">
                                <button class="btn btn-primary"><i class="fa fa-comment-o"></i> Post comment</button>
                            </div>
                        </div>
                    </form>
                </section>                -->
            </div>
        </div>
    </div>
    </div>

