@{
    ViewBag.Title = "ElectricalandElectronicsEngineeringLabs";
}

<div class="container">
    <h4>Electrical and Electronics Engineering Labs</h4>
    <div class="row">
        <div class="col-sm-3">

            <div class="list-group">
                <a href="#" class="list-group-item">Control & Automation Technology </a>
                <a href="#" class="list-group-item">Electrical Power Labs</a>
                <a href="#" class="list-group-item">Electronic Technology</a>



            </div>
        </div>


        <div class="col-sm-9">
            <div class="row">
               <div class="col-sm-4">
                   <img class="img img-responsive" style="float:none;padding-right:3px"  src="~/Images/atomix_user31.png" />
                   <div class="panel panel-success">
                      
                       
                       <div class="panel-body">
                           Electrical and Electronics Engineering Labs
                       </div>
                   </div>



               </div>   @*sm4*@
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Panel heading</div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                </div>
                </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Panel heading</div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                </div>

                </div>
            </div> @*row*@





        </div>  @*sm9*@






        </div>
    </div>
            


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Panel heading</div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>





        </div>

    </div> @*row*@

</div>  @*Container*@
