
@{
    ViewBag.Title = "EducationalSolutions";
}

<div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
    <div class="container">
        <div class="row">
            <div class="blog-lst col-md-9">
                <section class="post">
                    <div class="text-center padding-b-50">
                        <h2 class="wow fadeInLeft animated">EDUCATIONAL SOLUTIONS</h2>
                        <div class="title-line wow fadeInRight animated"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            @*<p class="author-category">
                                By <a href="#">John Snow</a>
                                in <a href="blog.html">Webdesign</a>
                            </p>*@
                        </div>
                        <div class="col-sm-6 right">
                            @*<p class="date-comments">
                                <a href="single.html"><i class="fa fa-calendar-o"></i> June 20, 2013</a>
                                <a href="single.html"><i class="fa fa-comment-o"></i> 8 Comments</a>
                            </p>*@
                        </div>
                    </div>
                    <div class="image wow fadeInLeft animated">
                        
                            <img src="~/assets/img/edu1.jpg" class="img-responsive" alt="Example blog post alt">
                        
                    </div>
                    <p class="intro">Harmony Technologies is passionate about education. Our motivating goal in everything we do is preparing today's students for successful careers in various healthcare professions.
How do we accomplish this? We make sure that today's higher learning institutions and educators are well equipped with the latest information, learning technology, and assessment tools so they can effectively guide students in becoming tomorrow's leading health science experts and caregivers.
</p>
                    @*<p class="read-more">
                        <a href="single.html" class="btn btn-default btn-border">Continue reading</a>
                    </p>*@
                </section>
                <section class="post">
                    <div class="text-center padding-b-50">
                        <h3 class="wow fadeInLeft animated">Solutions</h3>
                        <div class="title-line wow fadeInRight animated"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            @*<p class="author-category">
                                By <a href="#">John Snow</a>
                                in <a href="blog.html">Webdesign</a>
                            </p>*@
                        </div>
                        <div class="col-sm-6 right">
                            @*<p class="date-comments">
                                <a href="single.html"><i class="fa fa-calendar-o"></i> June 20, 2013</a>
                                <a href="single.html"><i class="fa fa-comment-o"></i> 8 Comments</a>
                            </p>*@
                        </div>
                    </div>
                    <div class="image wow fadeInLeft animated">
                        
                            <img src="~/assets/img/pen-idea-bulb-paper.jpg" class="img-responsive" alt="Example blog post alt">
                        
                    </div>
                    <p class="intro">Coming Soon..................</p>
                    @*<p class="read-more">
                        <a href="single.html" class="btn btn-default btn-border">Continue reading</a>
                    </p>*@
                </section>
                <section class="post">
                    <div class="text-center padding-b-50">
                        <h3 class="wow fadeInLeft animated">MORE</h3>
                        <div class="title-line wow fadeInRight animated"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            @*<p class="author-category">
                                By <a href="#">John Snow</a>
                                in <a href="blog.html">Webdesign</a>
                            </p>*@
                        </div>
                        <div class="col-sm-6 right">
                            @*<p class="date-comments">
                                <a href="single.html"><i class="fa fa-calendar-o"></i> June 20, 2013</a>
                                <a href="single.html"><i class="fa fa-comment-o"></i> 8 Comments</a>
                            </p>*@
                        </div>
                    </div>
                    <div class="image wow fadeInLeft animated">
                       
                            @*<img src="~/assets/img/edu2.jpg" class="img-responsive" alt="Example blog post alt">*@
                        
                    </div>
                    <p class="intro">Coming Soon...</p>
                    @*<p class="read-more">
                        <a href="single.html" class="btn btn-default btn-border">Continue reading</a>
                    </p>*@
                </section>
            </div>
            <div class="blog-asside-right col-md-3">
                <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                    <div class="panel-heading">
                        <h3 class="panel-title">Coming Soon</h3>
                    </div>
                    <div class="panel-body text-widget">
                        <p>
                            ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. 
                        </p>
                    </div>
                </div>
                @*<div class="panel panel-default sidebar-menu wow  fadeInRight animated">
                    <div class="panel-heading">
                        <h3 class="panel-title">Search</h3>
                    </div>
                    <div class="panel-body">
                        <form role="search">
                            <div class="input-group">
                                <input class="form-control" placeholder="Search" type="text">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-smal">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>*@

                <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                    <div class="panel-heading">
                        <h3 class="panel-title">Coming Soon..</h3>
                    </div>
                  @*  <div class="panel-body recent-property-widget">
                        <ul>
                            <li>
                                <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                                    <a href="single.html"><img src="~/assets/img/demo/small-property-2.jpg"></a>
                                    <span class="property-seeker">
                                        <b class="b-1">A</b>
                                        <b class="b-2">S</b>
                                    </span>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                    <h6> <a href="single.html">Super nice villa </a></h6>
                                    <span class="property-price">3000000$</span>
                                </div>
                            </li>
                            <li>
                                <div class="col-md-3 col-sm-3  col-xs-3 blg-thumb p0">
                                    <a href="single.html"><img src="assets/img/demo/small-property-1.jpg"></a>
                                    <span class="property-seeker">
                                        <b class="b-1">A</b>
                                        <b class="b-2">S</b>
                                    </span>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                    <h6> <a href="single.html">Super nice villa </a></h6>
                                    <span class="property-price">3000000$</span>
                                </div>
                            </li>
                            <li>
                                <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                                    <a href="single.html"><img src="assets/img/demo/small-property-3.jpg"></a>
                                    <span class="property-seeker">
                                        <b class="b-1">A</b>
                                        <b class="b-2">S</b>
                                    </span>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                    <h6> <a href="single.html">Super nice villa </a></h6>
                                    <span class="property-price">3000000$</span>
                                </div>
                            </li>
                            <li>
                                <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                                    <a href="single.html"><img src="assets/img/demo/small-property-2.jpg"></a>
                                    <span class="property-seeker">
                                        <b class="b-1">A</b>
                                        <b class="b-2">S</b>
                                    </span>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                    <h6> <a href="single.html">Super nice villa </a></h6>
                                    <span class="property-price">3000000$</span>
                                </div>
                            </li>
                        </ul>
                    </div>*@
                </div>

                <div class="panel sidebar-menu wow  fadeInRight animated">
                    <div class="panel-heading">
                        <h3 class="panel-title">Coming Soon</h3>
                    </div>
                   @* <div class="panel-body">
                        <ul class="tag-cloud">
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> html5</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> css3</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> jquery</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> ajax</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> php</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> responsive</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> visio</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> bootstrap</a>
                            </li>
                        </ul>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

